title = "Producto Detalle"
url = "/producto/:id"
layout = "layout"
is_hidden = 0
==
<?php
use Andresalice\Winelivery\Models\Product;
use Andresalice\Winelivery\Models\Review;
use Andresalice\Winelivery\Models\Rating;
use Andresalice\Winelivery\Models\Comment;

function onStart()
{
    $this['product'] = Product::find($this->param('id'));
    $this['products'] = Product::where("category_id",$this['product']->category_id)->where("id","!=", $this['product']->id)->take(12)->get();
    $this['reviews'] = Review::where("product_id",$this['product']->id)->get();
    if(Auth::check())
    {
        $this['rating'] = Rating::where("user_id",Auth::getUser()->id)->where("product_id",$this->param('id'))->first();
    }
    $this['comments'] = Comment::orderBy("id","DESC")->get();
    //$this['stars'] = Rating::where("product_id",$this['product']->id)->select('stars',DB::raw('count(stars) as total'))->groupBy("stars")->get();
    $this['stars5'] = Rating::where("stars",5)->where("product_id",$this['product']->id)->count();
    $this['stars4'] = Rating::where("stars",4)->where("product_id",$this['product']->id)->count();
    $this['stars3'] = Rating::where("stars",3)->where("product_id",$this['product']->id)->count();
    $this['stars2'] = Rating::where("stars",2)->where("product_id",$this['product']->id)->count();
    $this['stars1'] = Rating::where("stars",1)->where("product_id",$this['product']->id)->count();
}

function onStarsForm()
{
    $user_id = Auth::getUser()->id;
    $product_id = post("product_id");
    $ra = Rating::where("user_id",$user_id)->where("product_id",$product_id)->first();
    if(!empty($ra))
    {
        $r = Rating::find($ra->id);
        $r->stars = post("estrellas");
        $r->save();
    }
    else
    {
        $r = new Rating();
        $r->product_id = $product_id;
        $r->user_id = $user_id;
        $r->stars = post("estrellas");
        $r->save();
    }
}

function onCommentForm()
{
    $r = new Comment();
    $r->product_id = post("product_id");
    $r->user_id = Auth::getUser()->id;
    $r->comment = post("comment");
    $r->save();
    $comments = Comment::orderBy("id","DESC")->get();
    return ['#comment' => $this->renderPartial('comments', ['comments' => $comments])];
}
?>
==
<!-- Main Content -->
<div class="container m-t-3">
    <div class="row">
        <!-- Image List -->
        <div class="col-sm-4 col-md-4 ">
            <div style="width: 350px; height:500px" class="image-detail">
                <img src="{{product.featured_image.getPath}}" data-zoom-image="{{product.featured_image.getPath}}" alt="">
                {% partial "stock" p = product %}
            </div>
        </div>
        <!-- End Image List -->
        <div class="col-sm-8 col-md-8">
            <div class="title"><span>{{product.title}}</span></div>
            <p>Precio: <span style="color: #c1272d;font-size:20px;font-weight:400" >RD${{product.price|number_format}} </span></p>
            <p class="detail">Tipo: <span class="detail-content">{{product.category.title}}</span></p>
            <p class="detail">Productor: <span class="detail-content">{{product.productor}}</span></p>
            <p class="detail">Pais: <span class="detail-content">{{product.region.country.name}}</span></p>
            <p class="detail">Región: <span class="detail-content">{{product.region.title}}</span></p>
            <p class="detail">Uvas: <span class="detail-content">{% for u in product.uvas %}{{u.title}}{% if loop.last %}.{% else %},&nbsp;{% endif %}{% endfor %}
            </span></p>
            <p class="detail">Capacidad: <span class="detail-content">{{product.capacity}}</span></p>
            <p class="detail">Volumen de alcohol: <span class="detail-content">{{product.volume}}%</span></p>
            <p class="detail">Maridaje: <span class="detail-content">{{product.maridaje}}</span></p>
            
            
            {% if loggedIn %}
            <button type="button" {% if product.stock > 0 %} onClick="addToCart('{{product.id}}');" {% endif %} class="btn btn-theme m-b-1" type="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Agregar al carrito</button>
            <button type="button" {% if product.stock > 0 %} onClick="addToWishlist('{{product.id}}');" {% endif %} class="btn btn-theme1 m-b-1" type="button"><i class="fa fa-heart" aria-hidden="true"></i>Agregar a la lista de deseos</button>
            {% else %}
            <a href="{{"login"|page}}" class="btn btn-theme m-b-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Agregar al carrito</a>
            <a href="{{"login"|page}}" class="btn btn-theme1 m-b-1"><i class="fa fa-heart" aria-hidden="true"></i>Agregar a la lista de deseos</a>
            {% endif %}

            
        </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="">
                <!-- Description Tab Content -->
                <div id="desc">
                    <div class="well">
                        <h4>Nota de cata</h4>
                        <p>
                            {{product.description|raw}}
                        </p>
                    </div>
                </div>
                <!-- End Description Tab Content -->
                <!-- Review Tab Content -->
                <div class="">
                    <div class="title"><span>Review de catadores</span></div>
                    <div class="well">
                        {% for r in reviews %}
                        <div class="media">
                            <div class="media-left">
                                <a href="javascript:;">
                                    <img style="width: 76px; height: 76px" class="media-object img-thumbnail" alt="{{r.taste.name}}" src="{{r.taste.featured_image.getPath}}">
                                </a>
                                <div class="product-rating">
                                    {% for i in 1..r.stars %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>{{r.taste.name}}</strong></h5> {{r.comment}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Review Tab Content -->

            </div>
            <!-- End Tab panes -->

        </div>
    </div>

<div>
    <div class="title"><span>Evalua este vino</span></div>
        <div class="col-md-12" style="margin-bottom: 50px">
            <form id="starForm" class="evaluacion-detalle">
              <p class="clasificacion">
                <input {% if rating.stars == 5 %}checked{% endif %} class="stars" id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--
                --><input {% if rating.stars == 4 %}checked{% endif %} class="stars" id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--
                --><input {% if rating.stars == 3 %}checked{% endif %} class="stars" id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--
                --><input {% if rating.stars == 2 %}checked{% endif %} class="stars" id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--
                --><input {% if rating.stars == 1 %}checked{% endif %} class="stars" id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
              <input name="product_id" value="{{this.param.id}}" type="hidden">
            <a {% if loggedIn %} href="javascript:;" onClick="starForm();" {% else %} href="{{"login"|page}}" {% endif %} class="btn btn-theme">Votar</a>
            </form>
        </div>
        
        <div class="col-md-4">
            <br>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="javascript:;" style="pointer-events: none;">({% if stars5 %}{{stars5}} {% else %} 0 {% endif %} Votos)</a>
            </div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="javascript:;" style="pointer-events: none;">({% if stars4 %}{{stars4}} {% else %} 0 {% endif %} Votos)</a>
            </div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="javascript:;" style="pointer-events: none;">({% if stars3 %}{{stars3}} {% else %} 0 {% endif %} Votos)</a>
            </div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <a href="javascript:;" style="pointer-events: none;">({% if stars2 %}{{stars2}} {% else %} 0 {% endif %} Votos)</a>
            </div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <a href="javascript:;" style="pointer-events: none;">({% if stars1 %}{{stars1}} {% else %} 0 {% endif %} Votos)</a>
            </div><br><br>
        </div>
    <form id="commentForm">
        <div class="form-group col-md-12">
            <label for="Review">Deja tu comentario</label>
            <textarea name="comment" id="Review" class="form-control" rows="5"></textarea>
        </div>
        <input name="product_id" value="{{this.param.id}}" type="hidden">
        <div class="form-group col-md-12">
            <a {% if loggedIn %} href="javascript:;" onClick="commentForm();" {% else %} href="{{"login"|page}}" {% endif %} class="btn btn-theme">Enviar Review</a>
        </div>
    </form>
   <div id="comment">
   {% partial "comments" comments=comments %}
   </div>
</div>

    <!-- Related Products -->
    <div class="row m-t-3">
        <div class="col-xs-12">
            <div class="title"><span>Productos relacionados</span></div>
            <div class="related-product-slider owl-controls-top-offset">
                {% for p in products %}
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="{{p.featured_image.getPath}}">
                                </a>
                                <!-- <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span>
                                </div> -->
                            </div>
                            <h6><a href="{{"producto-detalle"|page({id: p.id})}}">{{p.title}}</a></a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                            <div style="background-color:#c1272d; margin-top:10px; padding:10px 2px 30px 5px">
                                <div style="color:#fff" class="price col-lg-6 ">
                                    <div>RD${{ p.price|number_format}}<span class="label-tags"></span></div>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" data-toggle="tooltip" title="Agregar a la lista de deseos" class="wishlist"><i style="color:#fff; padding-right:8px; font-size:16px" class="fa fa-heart"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Agregar al carrito"><i style="color:#fff; font-size:18px" class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- End Related Products -->

</div>
<!-- End Main Content -->

{% put scripts %}
<script>
    function starForm()
    {
        var error = true;
    	if(!$('.stars').is(":checked")){error = false;}
    	if(error)
    	{
    		$('#starForm').request('onStarsForm', {data: $('#starForm').serialize()});
    	} 
    	else { return false; }
    }
    
    function commentForm()
    {
        var error = true;
    	if($('textarea[name=comment]').val() === ''){$('textarea[name=comment]').css('border', '1px solid red');error = false;} 
    	else{$('textarea[name=comment]').css('border', '');}
    	if(error)
    	{
    		$('#commentForm').request('onCommentForm', {data: $('#commentForm').serialize()});
    		$('#commentForm')[0].reset();
    	} 
    	else { return false; }
    }
</script>
{% endput %}