title = "Productos"
url = "/productos/:country/:category/:region?"
layout = "layout"
is_hidden = 0
==
<?php
use Andresalice\Winelivery\Models\Product;
use Andresalice\Winelivery\Models\Region;
use Andresalice\Winelivery\Models\Category;
use Andresalice\Winelivery\Models\Country;

function onStart()
{
    $country_id = $this->param('country'); 
    $category_id = $this->param('category');
    $this['regions'] = Region::where('country_id',"=",$country_id)->get();
    $products = array();
    if(Input::has("desde") && Input::has("hasta")){$desde = Input::get("desde"); $hasta = Input::get("hasta");} else {$desde = false; $hasta = false;}
    if(!empty(Input::get("order"))){$this['orderBy'] = Input::get("order");} else {$this['orderBy'] = "ASC";}
    
    if($this->param('region') > 0)
    {
        $products[] = Product::orderBy("price",$this['orderBy'])->where('region_id','=',$this->param('region'))->where('category_id','=',$category_id)->where(function($query) use ($desde, $hasta) {
				if($desde){$query->where("price",">=",$desde);}
				if($hasta){$query->where("price","<=",$hasta);}
		})->get();
    }
    else
    {
        $products[] = Product::orderBy("price",$this['orderBy'])->where('category_id','=',$category_id)->where(function($query) use ($desde, $hasta) {
				if($desde){$query->where("price",">=",$desde);}
				if($hasta){$query->where("price","<=",$hasta);}
		})->get();
    }

    //PRODUCTOS ESPECIALES CALCULO DE ESTRELLAS
    foreach($products as $product)
    {
        foreach($product as $s)
        {
            $s->s5 = $s->stars()->where("stars",5)->count();
            $s->s4 = $s->stars()->where("stars",4)->count();
            $s->s3 = $s->stars()->where("stars",3)->count();
            $s->s2 = $s->stars()->where("stars",2)->count();
            $s->s1 = $s->stars()->where("stars",1)->count();
            $sc = 5 * $s->s5 + 4 * $s->s4 + 3 * $s->s3 + 2 * $s->s2 + 1 * $s->s1;
            if($sc == 0){$s->total_stars = 5;}
            else{$s->total_stars = substr($sc/($s->s5+$s->s4+$s->s3+$s->s2+$s->s1), 0, 1);}
        }
        
    }
    
    $this['products_by_cat'] = $products;
    $this['country_title'] = Country::find($country_id);
    $this['category'] = Category::find($category_id);
}
?>
==
<!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <!-- Filter Sidebar -->
        <div class="col-sm-3">
          <div class="filter-sidebar">
            <div class="title"><span>Regi&oacute;n</span></div>
            <ul>
              <li>
                <select id="regionFilter" class="selectpicker" data-width="100%">
                  <option value="0">Todas las Regiones</option>
                  {% for r in regions %}
                      <option {% if this.param.region == r.id %} selected {% endif %} value="{{r.id}}">{{r.title}}</option>
                  {% endfor %}
                </select>
              </li>
            </ul>
          </div>
          <div class="filter-sidebar">
            <div class="title"><span>Rango de Precio</span></div>
            <ul>
              <li>
                <select id="priceRangeFilter" class="selectpicker" data-width="100%">
                  <option value="0">Todos los Precios</option>
                  <option value="?desde=1&hasta=500">RD$1 - RD$500</option>
                  <option value="?desde=501&hasta=1000">RD$501 - RD$1,000</option>
                  <option value="?desde=1001&hasta=2000">RD$1,001 - RD$2,000</option>
                  <option value="?desde=2001&hasta=3000">RD$2,001- RD$3,000</option>
                  <option value="?desde=3001&hasta=4000">RD$3,001- RD$4,000</option>
                  <option value="?desde=4001&hasta=5000">RD$4,001- RD$5,000</option>
                   <option value="?desde=5001&hasta=100000">RD$5,001 +</option>
                </select>
              </li>
            </ul>
          </div>
          <div class="filter-sidebar">
            <div class="title"><span>Ordenar por:</span></div>
            <ul>
              <li>
                <select id="priceFilter" class="selectpicker" data-width="100%">
                  <option {% if orderBy == "ASC" %} selected {% endif %} value="ASC">Precio Ascendente</option>
                  <option {% if orderBy == "DESC" %} selected {% endif %} value="DESC">Precio Descendente</option>
                </select>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Filter Sidebar -->

        <!-- Product List -->
        <div class="col-sm-9">
          <div class="title"><span>{{country_title.name}} / {{category.title}}</span></div>
          <!-- End Product Sorting Bar -->

          <!-- Collection -->
          {% for pp in products_by_cat %}
              {% for p in pp%}
                {% for r in regions %}
                {% if r.id == p.region_id %}
                    <div class="col-sm-4 col-lg-3 box-product-outer">
                      <div class="box-product">
                          <div class="img-wrapper">
                              <a href="{{"producto-detalle"|page({id:p.id})}}">
                                  <img alt="Product" src="{{p.featured_image.getPath}}">
                              </a>
                              {% partial "stock" p = p %}
                          </div>
                          <h6><a href="{{"producto-detalle"|page({id:p.id})}}">{{p.title}}</a></h6>
                          <div class="rating">
                              {% for i in 0..p.total_stars -1 %}
                                    <i class="fa fa-star"></i>
                              {% endfor %}
                              <a href="#">({{p.comments.count}} reviews)</a>
                          </div>
                          <div style="background-color:#c1272d; margin-top:10px; padding:10px 5px 30px 5px">
                              <div style="color:#fff" class="price col-lg-6 ">
                                  <div>RD${{p.price|number_format}} <span class="label-tags"></span></div>
                              </div>
                              <div class="col-lg-6">
                                  {% partial "botones" p = p %}
                              </div>
                          </div>
                      </div>
                    </div>
                {% endif %}
                {% endfor %}
              {% endfor %}
          {% endfor %}
          <!-- End Collection -->
          <div class="col-xs-12 text-center">
            <nav aria-label="Page navigation">
              {{ products_by_cat.render|raw }}
            </nav>
          </div>
        </div>
        <!-- End Product List -->

      </div>
    </div>
    <!-- End Main Content -->
{% put scripts %}
<script>
$('#regionFilter').on('change', function() {
    var value = this.value;
    if(value === 0){value = ""}
    location.href='/productos/{{this.param.country}}/{{this.param.category}}/'+value;
})
$('#priceFilter').on('change', function() {
    location.href='/productos/{{this.param.country}}/{{this.param.category}}/{{this.param.region}}?order='+this.value;
})
$('#priceRangeFilter').on('change', function() {
    location.href='/productos/{{this.param.country}}/{{this.param.category}}/{{this.param.region}}'+this.value;
})
</script>
{% endput %}