==
<table class="table table-cart" id="cart_partial">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Cantidad</th>
      <th>Aplicar</th>
      <th>Precio</th>
      <th>SubTotal</th>
    </tr>
  </thead>
  <tbody>
    {% for c in cart %}
    <tr>
      <td class="img-cart">
        <a href="{{"producto-detalle"|page({id:c.product.id})}}">
          <img alt="Product" src="{{c.product.featured_image.getPath}}" class="img-thumbnail">
        </a>
      </td>
      <td>
        <p><a href="{{"producto-detalle"|page({id:c.product.id})}}" class="d-block">{{c.product.title}}</a></p>
        <!-- <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Comprar despues"><i class="fa fa-refresh"></i></a>&nbsp; -->
        <a href="javascript:;" onClick="deteleFromCart('{{c.id}}');" class="text-danger" data-toggle="tooltip" data-placement="top" data-original-title="Borrar"><i class="fa fa-trash-o"></i></a>
      </td>
      <td class=""><input name="quantity" id="qNumber{{c.id}}" type="number" value="{{c.quantity}}" class="form-control text-center"/></td>
      <td><a href="javascript:;" onClick="changeQuantity({{c.id}});">Aplicar</a></td>
      <td class="unit">RD${{c.product.price|number_format}}</td>
      <td class="sub">{% set sub = c.product.price * c.quantity %}RD${{sub|number_format}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4" class="text-right">Total</td>
      <td colspan="2"><b>RD${{ cart_total|number_format}}</b></td>
    </tr>
  </tbody>
</table>